.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e9e3e3b6;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: rgba(19, 18, 18, 0.712);
  border-radius: 12px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
}

.input :global(.MuiInputBase-input) {
  color: #ffffff;
}

.input :global(.MuiInputLabel-root) {
  color: rgba(255, 255, 255, 0.6);
}

.input :global(.MuiOutlinedInput-notchedOutline) {
  border-color: rgba(255, 255, 255, 0.2);
}

.button {
  background-color: #22c55e;
  color: #ffffff;
  padding: 12px;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.linkText {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.link {
  color: rgba(255, 255, 255, 0.849);
  text-decoration: underline;
  font-weight: 600;
}

.error {
  color: #f87171;
  text-align: center;
  font-size: 14px;
}